name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Check syntax
      run: node --check server.js

    - name: Create package
      run: npm pack

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: node-package
        path: "*.tgz"
