name: Vulnerable PR Build

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure git identity
        run: |
          git config user.email "ci-bot@example.com"
          git config user.name "CI Bot"

      - name: Run PR title as a command
        run: |
          title="${{ github.event.pull_request.title }}"
          echo "Running user-supplied command: $title and $APP_DIR lol"
          bash -c "id"
